/* Hero.css */
.hero {
    background-image: url('../Images/podcast-background-1920-x-1200-pe50qhwldvnay6ls.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: #CCA43B;
    text-align: center;
    padding: 50px;
    margin: -50px;
    margin-bottom: 20px;
}

.hero--title {
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    margin-bottom: 25px;
}

.hero--subtitle {
    font-size: 1rem;
    margin-top: 10px;
    font-family: 'Comfortaa', sans-serif;
}